/**
 * Minified by jsDelivr using clean-css v4.2.3.
 * Original file: /npm/css-wipe@4.3.0/index.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
* {
  box-sizing: border-box;
}

input[type=color]::-webkit-color-swatch {
  border: none;
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  font-weight: inherit;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

input:focus {
  outline: 0;
}

ol,
ul {
  list-style-type: none;
}


body {
  font-family: "Lora", serif;
  padding-top: 70px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  height: 70px;
  width: 100%;
  background-color: #80bd9e;
  margin-bottom: 30px;
  box-shadow: 0px 3px 5px gray;
}
.header__inner {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  color: #763626;
}
.header__icon {
  height: 60px;
  width: 60px;
  margin: 0 0.5em;
}
.header__items {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .header__items {
    display: none;
  }
}
.header__item {
  margin-right: 30px;
}
.header__link {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 500;
  color: #763626;
}
.header__button {
  background-color: transparent;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 600px) {
  .header__button {
    display: block;
  }
}

.toggle-icon span {
  display: block;
  width: 40px;
  height: 3px;
  background: #763626;
  margin-bottom: 11px;
  border-radius: 2px;
  transition: 0.3s all;
}
.toggle-icon span:last-child {
  margin-bottom: 0;
}

.menu-open .toggle-icon > span:nth-child(1) {
  transform: translateY(14px) rotate(135deg);
}
.menu-open .toggle-icon > span:nth-child(2) {
  transform: rotateY(-90deg);
}
.menu-open .toggle-icon > span:nth-child(3) {
  transform: translateY(-14px) rotate(-135deg);
}

.mobile-menu {
  display: none;
}
@media screen and (max-width: 600px) {
  .mobile-menu {
    transition: all 0.5s;
    background-color: rgba(175, 216, 151, 0.9);
    position: fixed;
    border-radius: 10px;
    top: 80px;
    right: 10px;
    padding: 30px 20px;
    opacity: 0;
    pointer-events: none;
    display: block;
  }
  .menu-open .mobile-menu {
    opacity: 1;
    pointer-events: auto;
  }
  .mobile-menu__item:last-child {
    margin-top: 30px;
  }
  .mobile-menu__link {
    padding-left: 0.5em;
    border-left: 2px solid #763626;
    text-decoration: none;
    color: #763626;
    font-weight: bold;
  }
}

.slide-title {
  text-align: center;
  font-size: 92px;
  margin-top: 90px;
  margin-bottom: 10px;
  display: block;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 1s;
}
@media screen and (max-width: 600px) {
  .slide-title {
    font-size: 52px;
    margin-top: 50px;
  }
}

.slide-bar {
  display: block;
  width: 80%;
  height: 8px;
  border-radius: 50vh;
  background: linear-gradient(to right, #89da59, #ff420e);
  margin: 0 auto;
  margin-bottom: 50px;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 1s ease 1s;
}

.main-title.inview .slide-title {
  transform: none;
  opacity: 1;
}
.main-title.inview .slide-bar {
  transform: none;
  opacity: 1;
}

section {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.comment {
  text-align: center;
  font-size: 1.2em;
  padding: 20px;
  color: gray;
}

.item {
  transform: translateX(50%);
  opacity: 0;
  transition: all 1s;
  display: flex;
  gap: 20px;
  align-items: start;
  height: auto;
  margin-bottom: 100px;
}
.item:nth-child(even) {
  transform: translateX(-50%);
  flex-direction: row-reverse;
  text-align: right;
}
.item__image-container {
  flex-basis: 38%;
  margin-right: 0;
  margin-bottom: 20px;
  height: 100%;
}
.item__image-container > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.item__link {
  text-decoration: none;
  color: #f98866;
}
.item__link i {
  margin-right: 0.3em;
}
.item__body {
  flex-basis: 60%;
}
.item__body > *:last-child {
  margin-bottom: 0;
}
.item__title {
  margin-bottom: 20px;
  font-size: 1.6em;
  font-weight: bold;
}
.item.inview {
  opacity: 1;
  transform: none;
}

.down-title {
  text-align: center;
  font-size: 3em;
  padding-bottom: 6px;
  font-weight: 500;
  margin-bottom: 30px;
  border-bottom: 2px solid #f98866;
  opacity: 0;
}
.down-title.inview {
  opacity: 1;
}
.down-title.inview .char {
  display: inline-block;
}
.down-title .char {
  opacity: 0;
}

.profile__img-container {
  width: 30%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.profile__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  font-size: 1.4rem;
  line-height: 40px;
}
@media screen and (max-width: 600px) {
  p {
    font-size: 1.2rem;
    line-height: 30px;
  }
}

section {
  margin-bottom: 50px;
}
section:last-child {
  margin-bottom: 0px;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}
.skills > li {
  display: flex;
  width: auto;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transform: translateY(-30%);
  transition: all 0.5s ease;
}
.skills > li:nth-child(0) {
  transition-delay: 0s;
}
.skills > li:nth-child(1) {
  transition-delay: 0.2s;
}
.skills > li:nth-child(2) {
  transition-delay: 0.4s;
}
.skills > li:nth-child(3) {
  transition-delay: 0.6s;
}
.skills > li:nth-child(4) {
  transition-delay: 0.8s;
}
.skills > li:nth-child(5) {
  transition-delay: 1s;
}
.skills > li:nth-child(6) {
  transition-delay: 1.2s;
}
.skills > li:nth-child(7) {
  transition-delay: 1.4s;
}
.skills > li:nth-child(8) {
  transition-delay: 1.6s;
}
.skills > li:nth-child(9) {
  transition-delay: 1.8s;
}
.skills > li:nth-child(10) {
  transition-delay: 2s;
}
.skills > li:nth-child(11) {
  transition-delay: 2.2s;
}
.skills > li:nth-child(12) {
  transition-delay: 2.4s;
}
.skills > li:nth-child(13) {
  transition-delay: 2.6s;
}
.skills > li:nth-child(14) {
  transition-delay: 2.8s;
}
.skills > li:nth-child(15) {
  transition-delay: 3s;
}
.skills > li:nth-child(16) {
  transition-delay: 3.2s;
}
.skills > li:nth-child(17) {
  transition-delay: 3.4s;
}
.skills > li:nth-child(18) {
  transition-delay: 3.6s;
}
.skills > li:nth-child(19) {
  transition-delay: 3.8s;
}
.skills > li:nth-child(20) {
  transition-delay: 4s;
}
.skills img {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.skills.inview > li {
  opacity: 1;
  transform: none;
}

.img__wrapper {
  height: 70px;
}/*# sourceMappingURL=style.css.map */